body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: #ffffff;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

section {
  padding: 4rem 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

section > h2 {
  margin-bottom: 2rem;
}

section article h3 {
  margin-bottom: .75rem;
}

section article p {
  margin-bottom: 1rem;
}